**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py
checkpoints
download
waymo_sub/
waymo-open-dataset*
run_cmds.txt
.vscode/